<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niit.mapper.NewMusicMapper">
    <resultMap id="NewMusicMapper" type="com.niit.entity.newMusic">
        <id column="mId" property="mId" jdbcType="INTEGER"/>
        <result column="musicSrc" property="musicSrc" jdbcType="CHAR"/>
        <result column="mTitle" property="mTitle" jdbcType="CHAR"/>
        <result column="mAlbum" property="mAlbum" jdbcType="CHAR"/>
        <result column="mSinger" property="mSinger" jdbcType="CHAR"/>
        <result column="mLyrics" property="mLyrics" jdbcType="CHAR"/>
        <result column="mCompose" property="mCompose" jdbcType="CHAR"/>
    </resultMap>
    <select id="getNewMusic" resultMap="NewMusicMapper">
        SELECT * FROM musicinfo limit 10
    </select>
    <select id="getAllNewMusic" resultMap="NewMusicMapper">
        SELECT * FROM musicinfo
    </select>
    <select id="getSearchMusic" parameterType="String" resultMap="NewMusicMapper">
        SELECT * FROM musicinfo where mTitle LIKE CONCAT('%',#{search},'%') or mSinger LIKE CONCAT('%',#{search},'%')
    </select>
    <delete id="deleteNewMusic" parameterType="java.lang.Integer">
        delete from musicinfo where mId = #{mid}
    </delete>
</mapper>