body{
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
    background-color: #600000;
}
div{
    width: 100%;
    color: black;
    box-sizing:border-box;
}
/*顶部div*/
.top-div{
    height: 50px;
}
audio{
    display: none;
}
/*音乐播放*/

/*专辑图片div*/
.img-div-out{
    height: 300px;
    line-height: 300px;
    position: relative;
}
.img-div-out-album{
    width: 260px;
    height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -130px -130px;
    border-radius: 200px;
    background-color: black;
    overflow: hidden;
}
.img-div-out-album>img{
    width: 80%;
    height: 80%;
    margin: 10% 10%;
    border-radius: 200px;
    position: relative;
}
/*图片滚动*/
/*.rockAnimate{
    animation: run 10s linear 0s infinite;
}
@keyframes run {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}*/
.img-div-out-play{
    position: absolute;
    z-index:2;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin: -25px -25px;
    background-color: black;
    opacity: 0.5;
    /*margin: -20px -20px;*/
}
.img-div-out-play img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    margin: 0;
    float: left;
}
/*歌曲信息*/
.info-div-out{
    height: 120px;
}
.info-div-item{
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
}
.musicSinger{
    color: gray;
    font-size: 17px;
}
.info-mCompose,.info-mLyrics{
    height: 30px;
    line-height: 30px;
}
.info-mCompose span,.info-mLyrics span{
    font-size: 17px;
    color: lightgray;
}
/*评论div*/
.commnet-div-out{
    height: auto;
}
.comment-div-title{
    height: 25px;
    color: white;
    border-left: 2px solid red;
    line-height: 25px;
    font-size: 18px;
    padding-left: 3%;
    margin-top: 10px;
}
/*单个评论div*/
.comment-div-item{
    height: auto;
    margin-top: 20px;
    float: left;
}
/*评论者头像*/
.comment-div-head{
    width: 40px;
    height: 40px;
    border-radius: 60px;
    overflow: hidden;
    float: left;
    margin-left: 3%;
    margin-right: 1%;
}
.comment-div-head img{
    width: 100%;
    height: 100%;
}
/*评论内容列表*/
.comment-div-list{
    float: left;
    width: 80%;
    height: auto;
}
/*评论者用户名*/
.comment-div-uName{
    height: 20px;
    line-height: 20px;
    color: gray;
    font-size: 15px;
}
/*评论日期*/
.commnet-div-date{
    height: 15px;
    line-height: 15px;
    color: gray;
    font-size: 10px;
}
/*评论内容*/
.comment-div-content{
    height: auto;
    font-size: 15px;
    color: white;
}
/*回复*/
.reply{
    color: blue;
}
/*回复的评论div*/
.comment-div-reply{
    min-height: 30px;
    background-color: #4D0000;
    padding-left: 2%;
    line-height: 30px;
    color: gray;
}
/*底部div*/
.bottom-div{
    height: 50px;
    float: left;
}