body{
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
}
div{
    width: 100%;
    box-sizing:border-box;
}
.return-div,.admin-div{
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    top: 5px;
    color: white;
    cursor: pointer;
}
.return-div img,.admin-div img{
    width: 100%;
    height: 100%;
}
.admin-div{
    right: 2%;
}
.top-div{
    height: 50px;
    background-color: #C20C0C;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.userInfo-div{
    height: auto;
    float: left;
    margin-bottom: 20px;
}
.userInfo-head{
    float: left;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    padding-left: 10px;
    border-left: 2px #C20C0C solid;
}
.userInfo-detail{
    height: auto;
    float: left;
}

.login-div{
    height: 40px;
    margin-top: 20px;
    line-height: 40px;
    float: left;
}
.login-div span{
    margin-left: 40px;
    margin-right: 20px;
}
.button-div{
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
}
.button-div button{
    width: 100px;
    height: 30px;
    border: 1px #C20C0C solid;
    border-radius: 5px;
    font-size: 15px;
    color: #C20C0C;
    cursor:pointer;
}

/*新歌列表*/
.new-div{
    margin-top: 20px;
    width: 100%;
    height: auto;
    box-sizing:border-box;
}
.new-div-list{
    cursor: pointer;
    width: 100%;
    height: 60px;
    box-sizing:border-box;
    border-bottom: 0.1px solid lightgrey;
    background-color: white;
}
/*左侧歌曲信息*/
.new-div-list-item-left{
    height: 60px;
    width: 80%;
    float: left;
    box-sizing:border-box;
}
.new-div-list-item-title{
    width: 100%;
    height: 35px;
    color: black;
    font-size: 16px;
    line-height: 35px;
    box-sizing:border-box;
    padding-left: 5%;
}
.new-div-list-item-album{
    width: 100%;
    height: 25px;
    color: grey;
    font-size: 12px;
    line-height: 25px;
    padding-left: 5%;
    box-sizing:border-box;
}
/*右侧播放图标*/
.new-div-list-item-right{
    height: 60px;
    width: 20%;
    float: left;
    text-align: center;
}
.new-div-list-item-right img{
    width: 30px;
    height: 30px;
    margin-top: 15px;
}